<div class="container-fluid">
    <div class="preloader text-center" ng-if="loading">
        <i class="fa fa-spinner fa-spin fa-2x"></i>
    </div>
    <div class="filters">
        <div class="col-sm-6 col-sm-offset-3">
            <label for="dates">Выберите даты:</label>
            <ng-daterangepicker id="dates" ng-model="filters.dates" locale="ru"></ng-daterangepicker>
        </div>
    </div>
    <nvd3 options="options" data="data" ng-if="!loading"></nvd3>
</div>