<!DOCTYPE html>
<html ng-app="Aion">
    <head>
        <base href="/">
        <title>aidb.nihao.su</title>
        <script type="text/javascript">
            WebFontConfig = {
                google: { families: [ 'Open+Sans:400,300,600:latin,cyrillic-ext' ] }
            };
            (function() {
                var wf = document.createElement('script');
                wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
                wf.type = 'text/javascript';
                wf.async = 'true';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(wf, s);
            })(); </script>
        <link rel="stylesheet" href="{{ elixir('css/main.css') }}">
        <script src="{{ elixir('js/main.js') }}" async></script>
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" ui-sref="home">aidb.nihao.su</a>
                </div>

                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li ui-sref-active="active"><a ui-sref="chars">Персонажи</a></li>
                        <li ui-sref-active="active"><a ui-sref="serversOnline">Сервера</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <section ui-view></section>
        {% if counter %}{% include '_metrika.html'%}{% endif %}
    </body>
</html>