.chars-sort-table-wrapper {
  @media (max-width: @screen-xs-max){
    overflow-x: scroll;
    width: 100%;
  }
}

.chars-sort-link {

  &--desc,
  &--asc {
    color: @btn-default-color !important;
    text-decoration: none !important;
    &:after {
      display: inline;
      font-family: 'FontAwesome';
    }
  }

  &--desc {
    &:after {
      content: ' \f107';
    }
  }

  &--asc {
    &:after {
      content: ' \f106';
    }
  }

}
