.text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
}

.bdg {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.bdg-online {
  background: #5cb85c;
}

.bdg-leave {
  background: #d9534f;
}

.tp {
  font-size: 16px;
}

.tp-header {
  font-size: 18px;
}

.tp-footer {
  font-style: italic;
  font-size: 14px;
}