<div class="container">

    <div class="preloader text-center" ng-if="loading">
        <i class="fa fa-spinner fa-spin fa-2x"></i>
    </div>

    <div class="row" ng-if="!loading">

        <div class="col-sm-12 form-group">

            <div class="row">

                <div class="col-sm-12 form-group chars-last-sync">
                    <i class="fa fa-refresh"></i> <span am-time-ago="sync.updated_at"></span>
                </div>

                <div class="col-sm-3 form-group">
                    <label class="control-label">Сервер</label>
                    <select class="form-control" ng-model="form.server_id" ng-change="onFormChange()">
                        <option value="">Все</option>
                        <option ng-repeat="server in servers" value="{{server.id}}" ng-selected="server.id == form.server_id">{{server.name}}</option>
                    </select>
                </div>

                <div class="col-sm-3 form-group">
                    <label class="control-label">Расы</label>
                    <select class="form-control" ng-model="form.race" ng-change="onFormChange()">
                        <option value="">Все</option>
                        <option ng-repeat="race in races" value="{{race}}" ng-selected="race == form.race">{{race}}</option>
                    </select>
                </div>

                <div class="col-sm-3 form-group">
                    <label class="control-label">Классы</label>
                    <select class="form-control" ng-model="form.class" ng-change="onFormChange()">
                        <option value="">Все</option>
                        <option ng-repeat="class in classes" value="{{class}}" ng-selected="class == form.class">{{class}}</option>
                    </select>
                </div>

                <div class="col-sm-3 form-group">
                    <label class="control-label">&nbsp;</label>
                    <input type="search" class="form-control" ng-model="form.s" ng-change="onFormChange()" placeholder="Поиск по игрокам" ng-model-options="{ debounce: 300 }">
                </div>

            </div>

        </div>

        <div class="col-sm-12 chars-sort-table-wrapper form-group">
            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Имя</th>
                        <th style="width: 120px;">Легион</th>
                        <th style="width: 100px;">Ранг</th>
                        <th class="text-right">
                            <a href="#" class="chars-sort-link" ng-class="{
                                'chars-sort-link--desc': form.order == 'DESC' && form.sort == 'exp',
                                'chars-sort-link--asc': form.order == 'ASC' && form.sort == 'exp',
                            }" ng-click="changeSortBy('exp')">Опыт</a>
                        </th>
                        <th class="text-right">
                            <a href="#" class="chars-sort-link" ng-class="{
                                'chars-sort-link--desc': form.order == 'DESC' && form.sort == 'glory_point',
                                'chars-sort-link--asc': form.order == 'ASC' && form.sort == 'glory_point',
                            }" ng-click="changeSortBy('glory_point')">Очки славы</a>
                        </th>
                        <th class="text-right">
                            <a href="#" class="chars-sort-link" ng-class="{
                                'chars-sort-link--desc': form.order == 'DESC' && form.sort == 'abyss_point',
                                'chars-sort-link--asc': form.order == 'ASC' && form.sort == 'abyss_point',
                            }" ng-click="changeSortBy('abyss_point')">Очки бездны</a>
                        </th>
                        <th class="text-right">
                            <a href="#" class="chars-sort-link" ng-class="{
                                'chars-sort-link--desc': form.order == 'DESC' && form.sort == 'kill',
                                'chars-sort-link--asc': form.order == 'ASC' && form.sort == 'kill',
                            }" ng-click="changeSortBy('kill')">Убийства</a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="charsLoading">
                        <td colspan="7" class="text-center">
                            <i class="fa fa-spin fa-spinner"></i>
                        </td>
                    </tr>
                    <tr ng-if="!charsLoading && chars.length == 0">
                        <td colspan="7" class="text-center">
                            <p>Никто не найден.</p>
                        </td>
                    </tr>
                    <tr ng-if="!charsLoading && chars.length > 0" ng-repeat="char in chars" >
                        <td>
                            <strong>{{char.char}}</strong>, {{ char.class }} <span class="bdg bdg-online" ng-if="char.now_online"></span> <span class="bdg bdg-leave" ng-if="char.deleted_at" tooltip-placement="top" uib-tooltip="Последний раз был в игре: {{ char.deleted_at | amDateFormat:'MM.DD.YYYY HH:mm:ss'}}"></span> <br>
                            <small>{{char.race}}, {{ char.server }}</small>
                        </td>
                        <td>
                            <span class="text-overflow" style="width: 120px;">{{char.guild}}</span>
                        </td>
                        <td><small>{{char.rank}}</small></td>
                        <td class="text-right">
                            {{char.level}} <span ng-if="char.exp_percent">  - <strong>{{char.exp_percent}}%</strong></span><br>
                            <small>{{char.exp | cm_number}}</small>
                        </td>
                        <td class="text-right">{{char.glory_point | cm_number}}</td>
                        <td class="text-right">{{char.abyss_point | cm_number}}</td>
                        <td class="text-right">{{char.kill | cm_number}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <nav class="col-sm-12 text-center" ng-if="!charsLoading">

            <uib-pagination
                    boundary-links="true"
                    total-items="totalItems"
                    items-per-page="100"
                    ng-model="form.page"
                    class="pagination-sm"
                    previous-text="&lsaquo;"
                    next-text="&rsaquo;"
                    first-text="&laquo;"
                    last-text="&raquo;"
                    max-size="10"
                    ng-change="onPageChange()"></uib-pagination>
        </nav>

    </div>

</div>